#textdomain wesnoth-unitmarker

#define FLAG_EVENTS
    [event]
        name=start

        [set_menu_item]
            id=unit_marker
            description= _ "Flag this Unit"
            image="misc/flag-golden-24x24.png"
            [default_hotkey]
                key=f
                ctrl=yes
            [/default_hotkey]
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    side=$side_number
                [/have_unit]
            [/show_if]

            [command]
                #the standard unitmarker for normal units
                [if]
                    [have_unit]
                        x,y=$x1,$y1
                        side=$side_number
                        [and]
                            {FILTER_FOR_OVERLAY ""}
                            [or]
                                {FILTER_FOR_OBJECT "normal_unit"}
                            [/or]
                        [/and]
                        [not]
                            [filter_wml]
                                canrecruit=yes
                            [/filter_wml]
                            [or]
                                {FILTER_FOR_OBJECT "hero_unit"}
                            [/or]
                            [or]
                                [filter_wml]
                                    [modifications]
                                        [trait]
                                            id=loyal
                                        [/trait]
                                    [/modifications]
                                [/filter_wml]
                            [/or]
                        [/not]
                    [/have_unit]

                    [then]
                        [object]
                            [filter]
                                x,y=$x1,$y1
                            [/filter]
                            item_id="$unit.id|" + "_last_last_overlays"
                            overlays="$unit.overlays|"
                        [/object]
                        {VARIABLE marking_type normal_unit}
                        [message]
                            speaker=narrator
                            side_for=$side_number
                            image="wesnoth-icon.png"
                            message= _ "How do you wish to mark this unit?"
                            {OPTION_OVERLAY "misc/hearticon.png" "misc/hearticon.png~CROP(9,0,19,14)" _"With a heart!"}
                            {OPTION_OVERLAY "misc/hornicon.png" "misc/hornicon.png~CROP(9,0,19,14)" _"With a warhorn!"}
                            {OPTION_OVERLAY "misc/staricon.png" "misc/staricon.png~CROP(9,0,19,14)" _"With a star!"}
                            {OPTION_OVERLAY "misc/moonicon.png" "misc/moonicon.png~CROP(9,0,19,14)" _"With a moon!"}
                            {OPTION_OVERLAY "misc/poisonicon.png" "misc/poisonicon.png~CROP(11,7,19,14)" _"With a poisonous skull!"}
                            {OPTION_OVERLAY "misc/shieldicon.png" "misc/shieldicon.png~CROP(12,8,19,14)" _"With a shield!"}
                            {OPTION_OVERLAY "misc/crossed-fire-swords.png" "misc/crossed-fire-swords.png~CROP(11,5,19,14)" _"With a pair of crossed flaming swords!"}
                            {REVERT_AND_GO_BACK_OPTIONS}
                        [/message]
                    [/then]
                [/if]

                #the unitmarker for leaders
                [if]
                    [have_unit]
                        x,y=$x1,$y1
                        side=$side_number
                        canrecruit=yes
                    [/have_unit]

                    [then]
                        {VARIABLE marking_type leader_unit}
                        [message]
                            speaker=narrator
                            side_for=$side_number
                            image="wesnoth-icon.png"
                            message= _ "How do you wish to mark this leader?"
                            {OPTION_OVERLAY "misc/leader-crown-golden.png" "misc/leader-crown-golden.png~CROP(9,0,19,14)" "With a golden crest!"}
                            {OPTION_OVERLAY "misc/leader-crown-golden-alt.png" "misc/leader-crown-golden-alt.png~CROP(9,0,19,14)" "With a golden crown!"}
                            {OPTION_OVERLAY "misc/leader-crown-silver.png" "misc/leader-crown-silver.png~CROP(9,0,19,14)" "With a silver crest!"}
                            {OPTION_OVERLAY "misc/leader-crown-silver-alt.png" "misc/leader-crown-silver-alt.png~CROP(9,0,19,14)" "With a silver crown!"}
                            {OPTION_OVERLAY "misc/leader-crown-bronze.png" "misc/leader-crown-bronze.png~CROP(9,0,19,14)" "With a bronze crest!"}
                            {OPTION_OVERLAY "misc/leader-crown-bronze-alt.png" "misc/leader-crown-bronze-alt.png~CROP(9,0,19,14)" "With a bronze crown!"}
                            {REVERT_AND_GO_BACK_OPTIONS}
                        [/message]
                    [/then]
                [/if]

                #Unitmarker for heroes
                [if]
                    [have_unit]
                        x,y=$x1,$y1
                        side=$side_number
                        [and]
                            [filter_wml]
                                overlays="misc/hero-icon.png"
                            [/filter_wml]
                            [or]
                                [filter_wml]
                                    overlays="misc/hero-icon-golden.png"
                                [/filter_wml]
                            [/or]
                            [or]
                                [filter_wml]
                                    overlays="misc/hero-icon-bronze.png"
                                [/filter_wml]
                            [/or]
                        [/and]
                    [/have_unit]

                    [then]
                        {VARIABLE marking_type hero_unit}
                        [message]
                            speaker=narrator
                            side_for=$side_number
                            image="wesnoth-icon.png"
                            message= _ "How do you wish to mark this hero?"
                            {OPTION_OVERLAY "misc/hero-icon-golden.png" "misc/hero-icon-golden.png~CROP(9,0,19,14)" _"With a golden crest!"}
                            {OPTION_OVERLAY "misc/hero-icon.png" "misc/hero-icon.png~CROP(9,0,19,14)" _"With a silver crest!"}
                            {OPTION_OVERLAY "misc/hero-icon-bronze.png" "misc/hero-icon-bronze.png~CROP(9,0,19,14)" _"With a bronze crest!"}
                            {REVERT_AND_GO_BACK_OPTIONS}
                        [/message]
                    [/then]
                [/if]

                #unitmarker for loyals
                [if]
                    [have_unit]
                        x,y=$x1,$y1
                        side=$side_number
                        [and]
                            [filter_wml]
                                overlays="misc/loyal-icon.png"
                            [/filter_wml]
                            [or]
                                [filter_wml]
                                    overlays="misc/golden-belt.png"
                                [/filter_wml]
                            [/or]
                            [or]
                                [filter_wml]
                                    overlays="misc/silver-belt.png"
                                [/filter_wml]
                            [/or]
                        [/and]
                    [/have_unit]

                    [then]
                        {VARIABLE marking_type loyal_unit}
                        [message]
                            speaker=narrator
                            side_for=$side_number
                            image="wesnoth-icon.png"
                            message= _ "How do you wish to mark this loyal soldier?"
                            {OPTION_OVERLAY "misc/golden-belt.png" "misc/golden-belt.png~CROP(9,0,19,14)" _"With a golden belt!"}
                            {OPTION_OVERLAY "misc/silver-belt.png" "misc/silver-belt.png~CROP(9,0,19,14)" _"With a silver belt!"}
                            {OPTION_OVERLAY "misc/loyal-icon.png" "misc/loyal-icon.png~CROP(9,0,19,14)" _"With a bronze belt!"}
                            {REVERT_AND_GO_BACK_OPTIONS}
                        [/message]
                    [/then]
                [/if]
            [/command]
        [/set_menu_item]
    [/event]
#enddef
